<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="stylesheet" href="/css/global.css">
    
    {{#each styles}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}
    <script type="module" src="/js/deconnexion.js"></script>
    
    {{#each script}}
    
        <script type="module" src="{{this}}"></script>
    {{/each}}
</head>
<body>
    {{> header}}
    
    <main>
        {{{body}}}
    </main>
    {{> footer}}

    <script>
    window.userNom = "{{user.nom}}";
    console.log("Nom utilisateur côté client :", window.userNom);
</script>
</body>
</html>